@import "../../settings";

.board-columns {
  display: flex;
  gap: $gap;
  margin: 0 $gap 5px 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 10px;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken($color: $list-bg-color, $amount: 15);
    border-radius: 5px;
  }
  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }
  .add-new-column {
    width: 250px;
    line-height: 32px;
    height: 40px;
    background-color: $list-bg-color;
    border-radius: $column-border-radius;
    cursor: pointer;
    padding: 4px 0 4px 15px;
    font-size: 15px;
    margin-left: $gap;
    transition: all 0.2s;
    &:hover {
      background-color: hsla(255, 255, 255, 0.8);
    }
  }
  .content-add-column {
    // line-height: 100px;
    height: fit-content;
    // width: 250px;
    padding: 5px;
    margin-left: 10px;
    background-color: hsla(0, 0, 100, 0.34);
    border-radius: $card-border-radius;
    .group-btn {
      padding-top: 10px;
      display: flex;
      align-items: center;
      i {
        font-size: 30px;
        padding-left: 10px;
        cursor: pointer;
        color: #4d4d4d;
      }
    }
    .form-control {
      width: fit-content;
    }
  }
}
