$board-bg-color: #026aa7;
$board-bg-color-darkMode: #0a1a23;
$navbar-app-bg-color: #005d93;

$navbar-board-bg-color: #026aa7;
$navbar-board-bg-color-darkMode: #02334f;

$list-bg-color: #ebecf0;
$column-header-height: 45px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;
$gap: 10px;
$app-main-color: #444;

//responsive
$screen-smm: 480px;
$screen-sm: 639px;
$screen-md: 1007px;
$screen-lg: 1201px;
